
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    width: 100%;
}

header{
    background: linear-gradient(to left, #FF97B5, #6E2A85);
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}

a{
    text-decoration: none;
    font-family: 'Ubuntu',sans-serif;
    font-size: 80px;
}
nav ul li {
    display:inline-block;
    list-style: none;
    font-weight: bold;
 }
 nav ul li a{
     color:#000000;
     text-decoration: none;
     font-size: 25px;
     position: relative;
     font-weight: bold;
     padding-left: 30px;
     padding-right: 30px;
 }
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background:rgb(108, 31, 108);
    position:absolute;
    left: 30px;
    bottom:-6px;
    transition: 0.6s;
}

nav ul li a:hover::after{
    width: 60%;
    }

.container {
    padding: 60px;
    color:antiquewhite;
    font-family: 'Ubuntu',sans-serif;
}

span{
    font-size: 40px;
    text-shadow: 0 0 20px #FFFFFF;
    animation: glow 1.5s ease-in-out infinite; 
}

h2{
    padding-left: 40px;
}


.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.header h1 {
    font-size: 50px;
}

.header p {
    font-size: 18px;
}

footer{
    background: linear-gradient(to right, #FF97B5, #6E2A85);
    color: #000000;
    padding-top: 13px;
    text-align: center;
    margin-top: 250px;
    height:30px;
    font-weight: 600;
    font-size: 20px;
}

.foot{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 28px;
    }

    .header p {
        font-size: 16px;
    }
}

.contact a{
    color:azure;
    font-size: 40px;
    padding:20px;
    padding-left:0px;
    transition: all 0.3s ease;
}

.contact a:hover{
    font-size:50px;
    text-shadow: 0 0 10px #FFFFFF;
    animation: glow 1.5s ease-in-out infinite; 
}

